<p-table [value]="tareas" dataKey="name" [tableStyle]="{'min-width': '60rem'}">
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 5rem"></th>
            <th pSortableColumn="name">Nombre <p-sortIcon field="name"></p-sortIcon></th>
            <th>Asignado a:</th>
            <th pSortableColumn="category">Categoria <p-sortIcon field="category"></p-sortIcon></th>
            <th pSortableColumn="rating">Porcentaje <p-sortIcon field="rating"></p-sortIcon></th>
            <th pSortableColumn="inventoryStatus">Status <p-sortIcon field="inventoryStatus"></p-sortIcon></th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-tarea let-expanded="expanded">
        <tr>
            <td>
                <button type="button" pButton pRipple [pRowToggler]="tarea" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
            </td>
            <td>{{tarea.nombre}}</td>
            <td>{{tarea.asignado}}</td>
            <td style="text-align: center;">{{tarea.categoria}}</td>
            <td><p-rating [ngModel]="tarea.rating"  [cancel]="false"></p-rating></td>
            <td><span [class]="'product-badge status-' + tarea.status.toLowerCase()">{{tarea.status}}</span></td>
        </tr>
    </ng-template>
    
    <ng-template pTemplate="rowexpansion" let-tarea>
        <tr>
            <td colspan="7">
                <div class="p-3">
                    <p-table [value]="tarea.subTareas" dataKey="id">
                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn="id">Id <p-sortIcon field="price"></p-sortIcon></th>
                                <th pSortableColumn="customer">Concepto <p-sortIcon field="customer"></p-sortIcon></th>
                                <th pSortableColumn="date">Horas <p-sortIcon field="date"></p-sortIcon></th>
                                <th pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon></th>
                                <th style="width: 4rem"></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-subTarea>
                            <tr>
                                <td>{{subTarea.id}}</td>
                                <td>{{subTarea.nombre}}</td>
                                <td>{{subTarea.horas}}</td>
                                <td><span [class]="'order-badge order-' + subTarea.status.toLowerCase()">{{subTarea.status}}</span></td>
                                <!-- <td><p-button type="button" icon="pi pi-search"></p-button></td> -->
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="6">There are no order for this product yet.</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>